# Server Configuration
PORT=8080

# Frontend Origin
FRONTEND_ORIGIN=http://localhost:3000

# Database Configuration (PostgreSQL)
DATABASE_URL=postgresql://postgres:password@localhost:5432/lifehub?schema=public
# Kafka Configuration
# Use localhost:9094 for host access when running locally
# Use kafka:9092 when running inside Docker network
KAFKA_BROKER=localhost:29092

# RabbitMQ Configuration
RABBITMQ_URL=amqp://lifehub:lifehub_password@localhost:5672

# API Configuration
API_PREFIX=api

# STRAVA
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_REDIRECT_URI=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Nutritionix
NUTRITIONIX_APP_ID=
